---
title: "Publications"
permalink: /publications/
---

<p>For publication metrics, see my <a href="{{ site.author.googlescholar }}">Google Scholar profile</a>.</p>

{% for category in site.publication_category %}
  {% assign cat_pubs = site.publications | where: "category", category[0] | sort: "date" | reverse %}
  {% if cat_pubs.size > 0 %}
    <h2>{{ category[1].title }}</h2>
    <ol>
    {% for pub in cat_pubs %}
      <li>{{ pub.citation | markdownify | remove: '<p>' | remove: '</p>' }}{% if pub.paperurl and pub.paperurl != "" %} <a href="{{ pub.paperurl }}">[pdf]</a>{% endif %}</li>
    {% endfor %}
    </ol>
  {% endif %}
{% endfor %}
