<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <ul class="contact-list">
          {% if site.author.email %}
            <li>e-mail : <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {% endif %}
          {% if site.author.location %}
            <li>{{ site.author.location }}</li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col">
        <ul class="social-media-list">
          {% if site.author.github %}
            <li>
              github : <a href="https://github.com/{{ site.author.github }}">{% include social.html %}<span class="username">{{ site.author.github }}</span></a>
            </li>
          {% endif %}
          {% if site.author.linkedin %}
            <li>linkedin : <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">{{ site.author.linkedin }}</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col">
        <ul class="social-media-list">
          {% if site.author.googlescholar %}
            <li>google scholar : <a href="{{ site.author.googlescholar }}">profile</a></li>
          {% endif %}
          {% if site.author.researchgate %}
            <li>researchgate : <a href="{{ site.author.researchgate }}">profile</a></li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
